[Unit]
Description=cfssl server
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=3s
ExecStartPre=-/usr/bin/docker kill cfssl
ExecStartPre=-/usr/bin/docker rm cfssl
ExecStartPre=/usr/bin/docker pull cfssl/cfssl
ExecStart=/usr/bin/docker run --name=cfssl -p 8888:8888 --rm -v /etc/argaleios/bootstrap/cfssl:/var/ssl:Z cfssl/cfssl serve -ca /var/ssl/etcd-ca.pem -ca-key /var/ssl/etcd-ca-key.pem -config /var/ssl/ca-config.json -address 0.0.0.0

[Install]
WantedBy=multi-user.target
